

<ion-view view-title="H O M E" >
  
   <ion-content style="top:71px">
       
    <div class="list">

    <a class="item item-thumbnail-left" href="#/products">
      <img src="img/car.jpg">
      <h2 style="font-size: 24px;margin-top: 10px;color: gray;">Cars</h2>
      <h2 style="font-size: 10px;color: #9a9a9a;">New/Used</h2>
      <p style="font-size: 9px;color: #d6d6d6;">Last update: 2 day ago</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/book.png">
      <h2 style="font-size: 24px;margin-top: 10px;color: gray;">Books</h2>
      <h2 style="font-size: 10px;color: #9a9a9a;">New</h2>
      <p style="font-size: 9px;color: #d6d6d6;">Last update: 10 day ago</p>
    </a>
    
    <a class="item item-thumbnail-left" href="#">
      <img src="img/cloth.jpg">
      <h2 style="font-size: 24px;margin-top: 10px;color: gray;">Clothes </h2>
      <h2 style="font-size: 10px;color: #9a9a9a;">New</h2>
      <p style="font-size: 9px;color: #d6d6d6;">Last update: 2 day ago</p>
    </a>

</div>
</ion-content>
</ion-view>